{% extends "layout.html" %}
{% block content %}
    <!--<h1>About Page</h1>-->
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">About Our Smart Attendance System</h1>
            <img src="https://source.unsplash.com/1200x800/?technology" class="img-fluid" alt="Technology Image">
            <p class="lead">Welcome to our innovative Smart Attendance System. Our system provides a secure and
                efficient way for students to mark their attendance during offline classes. Leveraging advanced
                technologies, our platform ensures real-time attendance tracking with additional layers of security.
                Students can conveniently mark their presence in the presence of a teacher, utilizing features such as
                location verification and facial recognition for enhanced security.</p>
            <hr class="my-4">
            <p>Key Features:</p>
            <ul>
                <li>Real-time attendance tracking: The system captures attendance data in real-time, providing accurate
                    and up-to-date records.</li>
                <li>Location verification for on-site attendance: Utilizing location services, our system verifies
                    that students are present in the designated classroom for accurate attendance marking.</li>
                <li>Facial recognition for enhanced security: Facial recognition technology adds an extra layer of
                    security, ensuring that the attendance is marked by the authorized student.</li>
                <li>Proxy prevention measures: Our system incorporates robust measures to prevent proxy attendance,
                    ensuring the integrity of attendance records.</li>
            </ul>
            <p class="lead">Explore the future of attendance tracking with our innovative system. Join us in
                revolutionizing the way educational institutions manage attendance, providing a seamless and secure
                experience for both students and educators.</p>
            <p class="lead">Ready to experience the next level of attendance management? Join us on this journey towards
                efficiency and reliability. Get started with our Smart Attendance System today!</p>
            <p class="lead">"Innovation is the calling card of the future." - Anna Eshoo</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/register" role="button" style="background-color: steelblue;">Register now</a>
            </p>
        </div>
    </div>
{% endblock content %}