{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img object-fit-cover" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.rollno }}</h2>
          <p class="text-secondary">{{ current_user.email }}</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4">Account Info</legend>  <!--class="border-bottom"-->
                <div class="form-group">
                    {{ form.rollno.label(class="form-control-label") }}

                    {% if form.rollno.errors %}
                        {{ form.rollno(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.rollno.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.rollno(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group mt-3">
                    {{ form.upload.label() }}
                    {{ form.upload(class="form-control-file") }}
                    {% if form.upload.errors %}
                        {% for error in form.upload.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group d-flex flex-column">
                    {{ form.section.label(class="form-control-label") }}
                    {% for subfield in form.section %}
                    <div class="ms-5">
                        <tr class="">
                            <td>{{ subfield }}</td>
                            <td>{{ subfield.label }}</td>
                        </tr>
                    </div>
                    {% endfor %}
                </div>



                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                
            </fieldset>
            <div class="form-group mt-4">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}